<div class="container py-3">

  <div class="text-left">


  <h1>Stupid Coaching</h1>

  <form action="/answer" method="get">
    <p id="ask1">Ask you coach anything (enfin presque, il est un peu con)</p>
    <input type="text" name="question" placeholder="Ask your coach anything">
    <input type="submit" value="Ask" class="btn btn-primary">
  </form>

</div>
</div>
